<div class="container" style="margin-top:60px">
  <%= hidden_field_tag "business_user",@business.id %>
  <table border="1px;">
    <tr>
      <td width="25%">Business Name</td>
      <td width="25%">Location</td>
      <td>Business Email</td>
      <td>Review</td>
    </tr>
    <tr>
      <td><%= @business.business_name %></td>
      <td><%= @business.location %></td>
      <td><%= @business.email %></td>
      <td><%= form_tag({:action => 'post_review'},:method=>"post",:remote => true ) do %>
            <%= hidden_field_tag :user_id, @business.id %>
            <p>
              <%= text_area_tag :body,nil,:class=>"comment_tf2",:rows=>"4" ,:style => "width:365px", :maxlength => 2000 %>
            </p>
            <%= submit_tag "review", :style=>"margin-left:100px",:class=>"submit_btn"%>
            <% end %></td>
</tr>

  </table>
</div>