<div class="container" style="margin-top:60px">
<h1>Listing forums</h1>

<div id="forums">
<% @forums.each do |forum| %>
  <div class="forum">
    <span class="title"><%= link_to forum.title, forum_path(forum) %></span> - 
    <span class="description"><%= forum.description%></span>  
    <%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' } %>

  </div>
<% end %>
</div>


<%= link_to 'New Forum', new_forum_path %></br>
<%= link_to "back",dashboard_index_path%>

</div>
