<script type='text/javascript'>//<![CDATA[ 
jQuery(window).load(function(){

jQuery('input[name="select_customer"]').change(
    function() {

        if (jQuery(this).is(':checked')) {
           
            jQuery('#customer_email').trigger('change').find('option').prop('selected', true)
        }
        else {
              jQuery('#customer_email').trigger('change').find('option').prop('selected', false)
        }
    });

jQuery('#customer_email').change(
    function(){
        jQuery(this).find('option:selected').each(
            function(){
                console.log(jQuery(this).index());
            });
    });


 jQuery('input[name="select_follower"]').change(
    function() {

        if (jQuery(this).is(':checked')) {
           
            jQuery('#follower_email').trigger('change').find('option').prop('selected', true)
        }
        else {
              jQuery('#follower_email').trigger('change').find('option').prop('selected', false)
        }
    });

jQuery('#follower_email').change(
    function(){
        jQuery(this).find('option:selected').each(
            function(){
                console.log(jQuery(this).index());
            });
    });
});//]]>  

</script>


<div class="container" style="margin-top:60px">
  <%= form_for(@massmail) do |f| %>
      <% if @massmail.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@massmail.errors.count, "error") %> prohibited this event from being saved:</h2>
            <ul>
              <% @massmail.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      
      <div class="field">
        <%= f.label :choose_one %><br />
        <% if @level > 2 %>
            Followers<%= f.radio_button :choose_one, "followers"%>
        <% end %>
        Samecounty<%= f.radio_button :choose_one, "samecounty",:checked => true %>
      </div></br>
      <div class="field">
        <%= f.label :email %><br />
        Select all <input type="checkbox" id="select_customer" name="select_customer" /> 
        <input type="checkbox" id="select_follower" name="select_follower" style="display:none" />
        <br />
        <%= f.select :email, @followers.collect {|x| [x.email, x.email]}, {:prompt => true }, :id => "follower_email", :multiple => true  %>
        <%= f.select :email, @customers.collect {|x| [x.email, x.email]}, {:prompt => true }, :id => "customer_email", :multiple => true  %>
      </div>
      <div class="field">
        <%= f.label :subject %><br />
        <%= f.text_field :subject %>
      </div>
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description,:rows=>"4" ,:style => "width:365px", :maxlength => 2000%>
      </div>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="actions">
        <%= f.submit "Send for admin approval" %>
      </div>
  <% end %>
</div>