<table class="table" border="1" cellpadding="10">

<tr>
<th>Email</th>
<th>Subject</th>
<th>Description</th>
<th>Choosen_data</th>
<th colspan=1>Action</th>
</tr>
  <tr>
  	<% @massmails.to_a.each do |massmail| %>
    <td><%= massmail.email %></td>
    <td><%= massmail.subject %></td>
   <td><%= massmail.description %></td>
   <td><%= massmail.choose_one %></td>
   <td><%= link_to format_boolean(massmail.status?), {:controller => 'admin/massmails', :action => 'status', :id => massmail.id} %></td>
</br>
 </tr>
<% end %>

</table>
