<!DOCTYPE html>
<html>
<head>
  <title>Storerating</title>
  <%= stylesheet_link_tag   "bootstrap","style"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/header' %>

<br/>
<div class="container" style="margin-top:60px">

<div id="flash_messages" style="text-align:center;">
    <% flash.each do |key, value| %>
        <%= content_tag(:div, value, :class => "flash #{key}") %>
    <% end %>
  </div>


</div>

<%= yield %>
<%= render 'shared/footer' %>
</body>
</html>
