<div class="container" style="margin-top:60px">
<div class="shadow">
<div>
	<div class="form-horizontal">
		
		
<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
  <%= f.hidden_field :plan_id %>
  <%= f.hidden_field :stripe_card_token %>
  <%= f.hidden_field :paypal_customer_token %>
  <%= f.hidden_field :paypal_payment_token %>  
  <%= f.hidden_field :user_id %> 
  
  
  
  
  

  
   <!-- <div id="paypal_checkout" style="display:none">
    <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), paypal_checkout_path(plan_id: @account.plan_id) %>
  </div> -->
  <!-- 
                          <div class="control-group">
							<label class="control-label" for="form-field-2"><%= f.label "Logo"%></label>

									<div class="controls">
									  <label>
										<%= f.file_field :logo %>
										</label>
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="form-field-2"><%= f.label :rating %></label>

									<div class="controls">
										1<%= f.radio_button :rating, "1" %>
										2<%= f.radio_button :rating, "2" %>
										3<%= f.radio_button :rating, "3" %>
										4<%= f.radio_button :rating, "4" %>
										5<%= f.radio_button :rating, "5" %>
										
									</div>
								</div> -->
								
								
							    <div class="control-group">
									<label class="control-label" for="form-field-2"><%= f.label :email %></label>

									<div class="controls">
										<%= f.email_field :email, :autofocus => true,:id=>"form-field-2" %>
										
									</div>
								</div>
								
								
 <div class="form-actions">
    <%= f.submit "Subscribe",:class=>"btn btn-primary" %>
    
    
  <span class="extra_buttons">
  	
  	<%= link_to 'Back', accounts_path %>
  	<%= link_to 'Plans', plans_path %>


</span>
</div>
<% end %>
</div>								
</div>
</div>
</div>